PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/mauiza?retryWrites=true&w=majority
EMAIL_USER=mauizainstitute@gmail.com
EMAIL_APP_PASSWORD=your_gmail_app_password_without_spaces
FRONTEND_URL=http://localhost:5173
